body{
    font-family: "Open Sans" !important;
    background-color: #F9F9F9 !important;
}

input[name=email], input[name=password]{
    margin: auto;
    max-width: 100%;
    padding: 5% 5%;
    margin: 5% 0;
    display: block;
    border: 1px solid #4A4A4A;
    box-sizing: border-box; 
}

label[for=email], label[for=password], label[for=show-password]{
    font-weight: 600 !important;
    font-size: 1rem !important;
    text-align: left !important;
    color: #4A4A4A !important;
    line-height: 1.3rem !important;
}

label[for=show-password]{
    font-weight: 300 !important;
    font-size: 1rem !important;
    text-align: left !important;
    color: #4A4A4A !important;
    line-height: 1.3rem !important;
}

input::placeholder{
    font-weight: 300 !important;
    color:  #9B9B9B !important;
    font-size: 1rem !important;
}

input[name=email]{
    background-image: url("/assets/mail.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 7%;
}

input[name=password]{
    background-image: url("/assets/lock.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 7%;
}

.sign-in{
    border: none !important;
    background-image: linear-gradient(134.72deg, #AE23A9 0%, #DC4E1B 100%) !important;
    width: 100% !important;
    color: #ffffff !important;
    font-weight: 600;
    letter-spacing: 1px;
}

.sign-up{
    border: 1px solid #9B9B9B !important;
    background-color: #ffffff !important;
    color: #4A4A4A !important;
    width: 100% ;
    letter-spacing: 1px;
    font-weight: 600;
}

.box-login{
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.1) !important;
    background-color: #FFFFFF !important;
    margin-bottom: 5% !important;
}

.container #orange{
    padding-top: 15% !important;
    max-width: 60% !important; 
}

.form{
    padding-top: 10% !important;
    padding-bottom: 5% !important; 
}

.problems-with-acess{
    color: #4A4A4A !important;
    font-weight: 600 !important;
    font-size: 0.9rem !important;
    line-height: 5rem !important; 
}

.btn-primary{
    line-height: 2rem !important;
}

.row{
    padding-top: 2% !important; 
}
.or{
    padding-bottom: 2% !important;
}
.terms-of-use{
    padding-top: 5% !important;
    padding-bottom: 5% !important; 
    color: #4A4A4A !important;
    font-size: 0.9rem !important;
    font-weight: 300 !important;
    line-height: 1rem !important;
    text-align: left !important;
}
.divider{
    text-align: center !important;
    max-width: 100% !important;
    margin: 5% 0% !important;
}
.divider hr{
    display: inline-block;
    width: 40%;
}
.or{
    font-weight: 300 !important;
    padding: 0 5% !important;
}
.bg-login{
    margin-top: 30% !important;
    max-width: 100% !important;
}
.navbar-brand{
    width: 20% !important;
}
.nav-link{
    padding-left: 5rem !important;
}
.gradient{
    background-image: linear-gradient(134.72deg, #AE23A9 0%, #DC4E1B 100%);
    width: 100%;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content{
    margin-top: 10% !important;
}
.content h1{
    font-size: 1.1rem !important;
    text-align: left !important;
    font-weight: 600 !important;
    text-align: left !important;
}
.shadow{
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.1) !important;
}
.navbar{
    min-height: 100px !important;
    padding: 0px !important;
}
.active{
    font-weight: 700 !important;
    opacity: 0.8 !important;
}
.form-control{
    border-radius: 0;
}
.btn{
    border-radius: 0;
}
/* Modal sign up */
.bg-model{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
    left: 0;
}

.modal-content{
    width: 30%;
    height: 80%;
    background-color: #F9F9F9;
    border-radius: 4px;
    position: relative;
}

.close{
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}